<footer class="footer">
  <div class="footer-top">
    <div class="contact-box">
      <div class="contact-item">
        <i class="fa fa-phone"></i>
        <div>
          <h4>Need Help</h4>
          <p>+000(123)456 88</p>
        </div>
      </div>
      <div class="contact-item">
        <i class="fa fa-envelope"></i>
        <div>
          <h4>Email Address:</h4>
          <p>needhelp@company.com</p>
        </div>
      </div>
      <div class="contact-item">
        <i class="fa fa-map-marker"></i>
        <div>
          <h4>Location</h4>
          <p>30 Commercial Road<br />Fratton</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-main">
    <div class="footer-content">
      <div class="footer-about">
        <h2>
          <img src="../assets/images/logo_ie104.png" alt="Logo" /> TRAVEL VN
        </h2>
        <h3>Travel beyond your imagination, with our Travel Agency!</h3>
        <p>
          No matter how big your company is, as you expand and reach new highs
          you'll want an agency to have your back. One with a process
        </p>
      </div>

      <div class="footer-links">
        <div>
          <h4>Travel & Services</h4>
          <ul>
            <li>Domestic Tours</li>
            <li>International Tours</li>
            <li>Tour Packages</li>
            <li>Tour Types</li>
            <li>How to Book</li>
            <li>Customized Trips</li>
          </ul>
        </div>
        <div>
          <h4>Explore & Discover</h4>
          <ul>
            <li>Travel Blog</li>
            <li>Latest News</li>
            <li>Travel Guides</li>
          </ul>
        </div>
        <div>
          <h4>Company</h4>
          <ul>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Our Team</li>
            <li>Terms of Service</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-img"></div>

  <div class="footer-bottom">
    <p>©2025 BRTtheme | All Rights Reserved</p>
  </div>
</footer>

<link rel="stylesheet" href="../assets/css/footer.css" />
